<form id='shortUrlForm'>
	<label>Find
		<input type="text" name="find_desc" placeholder="tacos, cheap dinner, Max's">
	</label>
	
	<label>Near
		<input type="text" name="loc" placeholder="San Francisco">
	</label>
	<button class="btn">Submit</button>
</form>

<div id='showShortUrl'></div>

<script>
	$(function() {
		var $shortUrlForm = $(shortUrlForm);
		var $showShortUrl = $(showShortUrl);
		yelpit.linkShortener.init($shortUrlForm, $showShortUrl);
	});
</script>