/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.logo {
	height:130px;
	line-height: 130px;
	text-align: center;
	font-family: "Marker Felt";
	font-size: 40px;
	margin-top: 80px;
}

.logo-img {
	height: 100px;
	margin: 0 10px 30px;
}

.search-form {
    margin: 0 auto;
    white-space:nowrap;
    text-align: center;
}

.search-input-box {
	border: 1px solid #ccc;
	margin-bottom: 30px;
	background-color: #fff;
	text-align: initial;
	padding: 8px 10px;
	display: table;
}

.search-form label {
    margin-bottom: 0;
    color: #666;
    font-weight: 400;
}

.search-form input[type=text] {
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	border: none;
	font-size: 16px;
	color: #222;
}

.search-field-left {
	width: 260px;	
	/*border-right: 1px solid #ccc;*/
}

.search-field-right {
	width: 210px;
}

.yelp-button, .yelp-button:focus {
	background-color: #c41200;
	color: #f5f5f1;
	padding: 8px 26px;
}

.yelp-button:hover {
	background-color: #d42210;
	color: #f5f5f1;
}

.content {
	width: 900px;
	margin: 0 auto;
}

.section {
	padding: 10px;
	width: 580px;
	margin: 0 auto;
}

.show-short-url {
	/*display: none;*/
	margin: 20px auto 0;	
	text-align: center;
}

.show-short-url input[type=text]{
	font-size: 14px;
	color: #222;
	width: 200px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.show-short-url label{
	color: #000;
    font-weight: 400;
    font-size: 19px;
    font-family: "marker felt";
    margin: 0;
}


.quote-bottom-image {
	position: absolute;
	bottom: 230px;
	width: 400px;
	z-index: -1;
	left: 50%;
	margin-left: -200px;
}

.quote center{
	position: relative;
	z-index: -1;
	color: #555; 
    font: bold 24px/45px Helvetica, Sans-Serif; 
    letter-spacing: -1px;
}

.darwin-bottom-image {
	position: absolute;
	width: 240px;
	bottom: 0;
	left: 50%;
	margin-left: -120px;
	z-index: -1;
}

