
#find_desc,
#find_loc {
    position: absolute;
    background-color: transparent;
    border: none;
}

.cursor {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 650px;
    top: 420px;
}

#background {
    position:absolute;
    top:0px;
    left:0px;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center top;
}
